* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Segoe","Segoe UI","Arial","Sans-serif";
    font-weight:lighter;
}

button, input {
    background-color: transparent;
    outline: none;
}

.top-navigation {
    width:100%;
    height:48px;
    background-color: #2564CF;
}

.top-navigation .top-left-container .button {
    width: 16px;
    height: 16px;
    color: white;
    background-color: #2564CF;
    padding: 8px;
    font-size: 20px;
    margin: 4px 10px 5px 8px;
}

.top-navigation .top-left-container {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}

.top-navigation .title {
    display: inline-block;
    margin-top: 12px;
    margin-left: 20px;
    color:#faf9f8;
    font-size: 16px;
    vertical-align: top;
    font-weight: 600;
}

.top-navigation .top-middle-container {
    display: inline-block;
    width: 384px;
    height: 32px;
    background-color: #faf9f8;
    border-radius: 4px;
    margin-left: 292px;
    margin-top: 7px;
    padding: 0 8px;
}

.top-navigation .top-middle-container .search-bar-left {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    color: #2564CF;
}

.top-navigation .top-middle-container .search-bar-middle {
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
}

.top-navigation .top-middle-container .search-bar-middle input {
    width:325px;
    height: 27px;
}

.top-navigation .top-middle-container .search-bar-middle input::placeholder {
    color: transparent;
}

.top-navigation .top-middle-container .search-bar-middle input:focus::placeholder {
    color: grey ;
    font-size: 16px;
    border: transparent;
}

.top-navigation .top-middle-container .search-bar-right {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 6px;
    color:#2564CF;
}

.top-navigation .top-right-container {
    display: inline-block;
}

.top-navigation .top-right-container div {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: larger;
    color: white;
    background-color:  #2564CF;
    padding: 0 14px;
    vertical-align: top;
}

.top-navigation .top-right-container div:first-child{
    margin-left: 260px;
}

.side-navigation {
    width: 290px;
    height: 529px;
    display: inline-block;
    box-shadow: -2.5px 0px 8px gray;
}

.side-navigation-header {
    margin-top: 26px;
    padding-left: 24px;
    padding-right: 24px;
    height: 48px;
    width:242px;
}

.side-navigation-button i {
    font-size: 20px;
}

.side-navigation i {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.side-navigation ul {
    list-style: none;
}

.side-navigation .side-navigation-content li > div{
    cursor: pointer;
    display:inline-block;
    background-color: transparent;
    pointer-events: none;
}

.side-navigation .side-navigation-content #task-list .side-navigation-menu:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    font-weight: 600;
}

.side-navigation .side-navigation-content #task-list .selected-menu {
    pointer-events: none;
    background-color: #eff6fc;
    font-weight: 600;
    border-left: 2px solid #2564CF;
}

.side-navigation .side-navigation-content .side-navigation-line hr {
    width: 230px;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-left: 10px;
    border-top: 1px solid grey;
}

.side-navigation .side-navigation-content #task-list >li{ 
    padding: 6px 24px;
} 

.side-navigation .side-navigation-content div:last-child > button {
    width: 20px;
    height: 20px;
    color: #2564CF;
    background-color: transparent;
    font-size: larger;
}

.side-navigation .side-navigation-content .add-list {
    display: inline-block;
}

.side-navigation .side-navigation-content .add-list input::placeholder {
    color:#2564CF;
    font-size: larger ;
}

.side-navigation .side-navigation-content .add-list input {
    width: 162px;
    height: 20px;
    padding-left: 16px;
    font-size: 14px;
}

.side-navigation .side-navigation-content div:last-child > i:last-child {
    color: #2564CF;
}

.side-navigation .side-navigation-content div:last-child i:first-child {
    background-color: transparent;
    font-size: larger;
} 

.side-navigation .side-navigation-content #task-list li > span {
    display: inline-block;
    height: 35px;
    padding-left: 10px;
}

.side-navigation .side-navigation-content  div:last-child {
    padding-left: 20px;
    height: 30px;
}

.side-navigation .side-navigation-content div:last-child:hover {
    background-color: #f5f5f5;
}

.side-navigation .side-navigation-bottom div {
    width: 54px;
    font-size: larger;
    background-color:  transparent;
    padding: 14px 0;
    text-align: center;
    display: inline-block;
}

.side-navigation .side-navigation-bottom div:hover {
    background-color: #f5f5f5;
}

.side-navigation-content {
    height: 400px;
    overflow-y: auto;
}

.hide-side-navigation {
    display: none;
}

.main-container {
    display: inline-block;
    vertical-align: top;
    width: 76.6%; 
    height: 100%;
    background-color: #faf9f8;
}

.main-container .main-container-header {
    margin: 16px 24px;
    padding: 8px 16px;
}

.main-container .main-container-header .main-container-icon {
    display: inline-block;
    width:24px;
    height:24px;
    font-size: larger;
}

.main-container .main-container-header .main-container-title {
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
}

.main-container .task {
    width:92%;
    height:10%;
    margin-left: 20px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0.5px 1px 2px 0.5px gray;
}

.main-container .new-task .add-new-task {
    width: 312%;
    height:44px;
    padding:2px 14px 14px 18px;
    background-color: transparent;
    font-size: 18px;
    vertical-align: top;
}

.main-container .new-task input::placeholder {
    color: #2564CF;
    font-size: 16px;
}

.main-container .task .task-status-icon {
    display: inline-block;
    color: #2564CF;
    vertical-align: top;
    margin-top:14px;
    margin-left:14px;
}

.main-container .task .new-task {
    display: inline-block;
}

.main-container .main-container-header .current-date {
    display: block;
    color: #605e5c;
    margin-top:5px;
    font-size: 12px;
}

.main-container .manage-task {
    width:92%;
    height:52px;
    margin-left: 20px;
    background-color: #fAf9f8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0.4px 1px 2px 0.5px grey;
}

.main-container .manage-task .manage-task-icons {
    padding: 10px 16px;
    display: inline-block;
}

.main-container .manage-task .manage-task-icons > div {
    display: inline-block;
    text-align: center;
    width:28px;
    height:28px;
    padding: 4px;
}

.main-container .manage-task .manage-task-icons > div:hover {
    background-color: #ffffff;
}

.main-container .manage-task .hide-add-button {
    display: inline-block;
    width: 22px;
    height: 30px;
    margin-left: 75%;
    background-color: #ffffff;
    padding: 0 10px;
    text-align: center;
    border: 1px solid #e1dfdd;
}

.main-container .manage-task .hide-add-button button {
    color:  #2564CF;
    cursor: pointer;
}

.main-container .tasks-container {
    width:100%;
    height:315px;
    overflow-y: auto;
    padding-top: 8px;
}

.main-container .task-container {
    width:100%;
}

.main-container .tasks-container .task-container .create-task {
    width:89%;
    height:52px;
    margin:8px 0 0 20px;
    border-radius: 2px;
    padding: 0 16px;
    background-color: #ffffff;
    box-shadow: 0.4px 1px 2px 0.5px grey; 
    cursor: pointer;      
} 

.main-container .tasks-container .task-container .create-task i {
    color: #2564CF;
}

.main-container .tasks-container .task-container .create-task div:first-child {
    display: inline-block;
    text-align: center;
    margin-top: 14px;
}

.main-container .tasks-container .task-container .create-task .added-task {
    display: inline-block;
    padding: 15px 14px;
    width: 88%;
}

.main-container .tasks-container .task-container .create-task div:last-child {
    display: inline-block;
}

.main-container .tasks-container .task-container .selected-task {
    cursor:pointer;
    background-color: #eff6fc;   
}

.completed-tasks {
    background-color: transparent;
    margin: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding: 5px 2px 15px 2px;
    display: block;
}
.hide-completed-tasks{
    display: none;
}

.completed-task-container .completed-tasks {
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
}

.main-container .tasks-container .completed-task-container .create-task {
    width:89%;
    height:52px;
    margin:8px 0 0 20px;
    border-radius: 2px;
    padding: 0 16px;
    background-color: #ffffff;
    box-shadow: 0.4px 1px 2px 0.5px grey; 
    cursor: pointer;      
} 

.main-container .tasks-container .completed-task-container .create-task i {
    color: #2564CF;
}

.main-container .tasks-container .completed-task-container .create-task div:first-child {
    display: inline-block;
    text-align: center;
    margin-top: 14px;
}

.main-container .tasks-container .completed-task-container .create-task .added-task {
    display: inline-block;
    padding: 15px 14px;
    width: 88%;
}

.main-container .tasks-container .completed-task-container .create-task div:last-child {
    display: inline-block;
}


.right-container {
    width: 345px;
    height: 528px;
    background-color: #faf9f8;
    display: inline-block;
    vertical-align: top;
    box-shadow: -1px 0px 4px gray;
}

.right-container .task-header {
    width:310px;
    padding: 9px 5px 0px 23px;
}

.right-container .task-header .task-title {
    background: #ffffff;
    width: 260px;
    height: 20px;
    padding: 16px;
}

.right-container .task-header .task-title > div {
    display: inline-block;
}

.right-container .task-header .task-title i{
    font-size: large;
    color: #2564CF;
}

.right-container .task-header .task-title input {
    padding: 0 10px;
    width: 190px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.completed-task {
    text-decoration:line-through;
}

.right-container .task-header .task-title .hide-tick {
    display: none;
}

.right-container .task-header .task-title .show-tick {
    color: #2564CF;
    margin-left: -19px;
    margin-top: 5px;
    font-size: 12px;
    vertical-align: top;
}

.right-container .task-details {
    width:310px;
    height:395px;
    padding: 0 11px 0 24px;
    margin-top: 16px;
    overflow-y: auto;
}

.right-container .task-details > div{ 
    border-radius: 5px;
}

.right-container .task-details .task-steps {
    background: #ffffff;
    width: 260px;
    height: 20px;
    padding: 16px;
    display: block;
    color: #2564CF;
}

.right-container .task-details .task-steps i {
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: large;
}

.right-container .task-details .task-steps input {
    width: 200px;
    height: 20px;
    display: inline-block;
    font-size: 16px;
    padding: 0 10px;
}

.right-container .task-details .task-steps input::placeholder {
    color: #2564CF;
}

.right-container .task-details .section {
    margin: 8px 0;
    width: 292px;
    height: 52px;
    background: #ffffff;
    color: #2564CF;
}

.right-container .task-details .section > div{
    border-radius: 5px;
}

.right-container .task-details .section button {
    width: 292px;
    height: 20px;
    padding: 16px 0 16px 16px;
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
    color: #605e5c;
}

.right-container .task-details .section button i:first-child{
    margin-right: 15px;
}

.right-container .task-details .task-section > div button i:first-child {
    display: inline-block;
    color: #605e5c;
}

.right-container .task-details .task-section > div button p:last-child {
    display: inline-block;
    margin: 0 16px;
    color: #605e5c;
}

.right-container .task-details .task-section > div {
    width:275px;
    height:20px;
    display: block;
    font-size: 14px;
    text-align: left;
    padding: 16px 0 16px 16px;
    background-color: #ffffff;
}

.right-container .task-details .task-category {
    width:292px;
    height:52px;
    background-color: #ffffff;
    margin-top:8px;
}

.right-container .task-details .task-section > div:nth-child(2) {
    border-top: 1px solid #cabdaf;
    border-bottom: 1px solid #cabdaf;
}
.right-container  .task-details .task-category i:first-child{
    width:20px;
    height:20px;
    padding: 16px 0 16px 16px;
    display: inline-block;
}

.right-container .task-details .task-category input:last-child{
    width:220px;
    height:30px;
    padding: 8px 6px;
    display: inline-block;
    color: #605e5c;
}

.right-container .task-details .add-file-to-task {
    width: 275px;
    height:20px;
    padding: 16px 0 16px 16px;
    background-color: #ffffff;
    margin-top:8px;
}

.right-container .task-details .add-file-to-task button > p {
    margin-left: 16px;
    color: #605e5c;
    display: inline-block;
}

.right-container .task-details .task-description {
    width:292px;
    height: 75px;
    margin: 8px 0;
    background-color: #ffffff;
}

.right-container .task-details .task-description > textarea {
    width: 265px;
    margin: 8px 2px 0 12px;
    color: #a19f9d;
    outline: none;
    resize: none;
    height: 60px;
    font-family: "Segoe","Segoe UI","Arial","Sans-serif";
}

.right-container .task-details .task-description > textarea:focus {
    color: #292827;
}

.right-container .task-details-footer {
    width:310px;
    height:25px;
    padding: 16px 0;
    margin: 0 24px;
}

.right-container .task-details-footer > div  {
    display: inline-block;
}

.right-container .task-details-footer button {
    width:30px;
    height:30px;
}

.right-container .task-details-footer button i {
    font-size: large;
}

.right-container .task-details-footer .task-date {
    width: 225px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.right-container .task-details-footer button:hover {
    background-color: #ffffff;
}

.hide-right-container {
    display: none;
}

/*size for task - menu*/
.resize-main-container {
    width: 49%; 
    height: 525px;
}

.main-container .manage-task .resize-hide-add-button {
    width: 22px;
    height: 30px;
    margin-left: 60%;
}

.main-container .task-container .create-task .resize-added-task {
    width: 80%;
}

.main-container .new-task .resize-add-new-task {
    width: 191%;
}   

/*hide-side-navigation*/
.resize-main-container-for-side-nav {
    width: 100%; 
    height: 525px;
}

.main-container .manage-task .resize-hide-add-button-for-side-nav {
    width: 22px;
    height: 30px;
    margin-left: 80%;
}

.resize-added-task-for-side-nav {
    width: 80%;
}

.main-container .new-task .resize-add-new-task-for-side-nav {
    width: 400%;
}  